.table-container {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.left {
    text-align: left;
}

.right {
    text-align: left;
}
